<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string> subtleGradient - Preview</string>
	<key>uuid</key>
	<string>43D6460B-C8C9-41A1-8D36-960B1430E85B</string>
</dict>
</plist>
